body {
    height: 100%;
    width: 98%;
}

#wrapper {
    margin-bottom: 35px;
}

#tags {
     margin-top: 15px;
     margin-bottom: 15px;
}

#logContent {
    height: 35em;
}

#saveStatus {
    height: 1em;
    text-align: center;
    margin-top: 10px;
    color: #349160;
}