body {
    height: 100%;
    width: 98%;
}

.ui.list {
    height: 33em;
    overflow: hidden;
    padding-right: 10px;
}

.ui.list:hover {
    overflow-y: scroll;
}

#wrapper {
    margin-bottom: 35px;
}

#tags {
     margin-top: 15px;
     margin-bottom: 15px;
}

#logContent {
    height: 35em;
}

#saveStatus {
    height: 1em;
    text-align: center;
    margin-top: 10px;
    color: #349160;
}

.tags-nav {
    word-wrap: break-word;
}

.empty.logs.message {
    padding-left: 5%;
    color: rgba(96, 96, 96, 0.87);
}

.last-updated {
    float: right;
    color: rgba(0, 0, 0, 0.7);
}