body {
    margin: 0px;
    height: 100%;
}

.titlebar {
    position: fixed;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    padding-top: 5px;
    padding-left: 10px;
    color: #E9EEF0;
    border-radius: 3px;
    background-color: #2185d0;
    height: 30px;
    width: 100%;
    z-index: 10;
}

.title {
    padding-left: 37%;
}

.container {
    padding: 2%;
    padding-top: 5%;
    width: 98%;
}

.ui.list {
    height: 33em;
    overflow: hidden;
    padding-right: 10px;
}

.ui.list:hover {
    overflow-y: auto;
}

#wrapper {
    margin-bottom: 35px;
}

#tags {
     margin-top: 15px;
     margin-bottom: 15px;
}

#logContent {
    height: 35em;
}

#saveStatus {
    height: 1em;
    text-align: center;
    margin-top: 10px;
    color: #349160;
}

.tags-nav {
    word-wrap: break-word;
}

.empty.logs.message {
    padding-left: 5%;
    color: rgba(96, 96, 96, 0.87);
}

.empty.rem-logs.message {
    text-align: center;
    color: rgba(96, 96, 96, 0.87);
}

.last-updated {
    float: right;
    color: rgba(0, 0, 0, 0.7);
}