<!doctype html>
<html ng-app="devLog">
<head>
  <meta charset="utf-8">
  <title>Dev Log</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/db/db.js"></script>
  <script src="js/menu.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/semantic-ui/dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body style="height: 100%;">
  <div class="ui divided padded grid" ng-controller="LogController as logCtrl">
    <!-- left float -->
    <div class="six wide left column">
      <div class="ui vertical">
        <h2 class="ui header">
        <i class="inbox icon"></i>
        Log Entry
        <div class="ui right floated green button add" ng-click="logCtrl.addFn()">
          Add
        </div>
        </h2>
        <div class="ui divider"></div>
      </div>
      <div class="ui divided padded grid">
        <div class="three wide left column" >
        <!-- display all tags -->
          <div class="ui divided very relaxed animated selection list">
            <a class="item" ng-repeat="tag in tags" ng-click="logCtrl.clickTagFn($index, tag.tag)" ng-class="{ active: $index == tagSelectedIndex }">
              <div class="description">
                {{ tag.tag }}
              </div>
            </a>
          </div>
        </div>
        <div class="twelve wide right column">
          <!-- display all logs -->
          <div class="ui divided very relaxed animated selection list">
            <a class="item" ng-repeat="log in logs | orderBy:'-timestamp'" ng-class="{ active: $index == logSelectedIndex }">
              <div class="right floated date">{{ log.timestamp | date:'MMM dd, yyyy' }}</div>
              <div class="description" ng-click="logCtrl.clickLogFn($index, log)">
                {{ log.title }}
              </div>
              <i class="right floated trash icon" ng-click="logCtrl.removeLogFn(log.key)"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ten wide right column">
      <div class="ui vertical">
        <input type="hidden" id="logKey" ng-model="logs[logSelectedIndex].key"></input>

        <div class="ui right labeled fluid input">
          <input ng-model="logs[logSelectedIndex].title" placeholder="title..." ng-keyup="logCtrl.changedFn()"></input>
          <div class="ui label">
            Title
          </div>
        </div>
        
        <div id="tags">
          <div class="ui right labeled left icon input">
            <i class="tags icon"></i>
            <input type="text" placeholder="Tags" ng-model="logs[logSelectedIndex].tags" ng-keyup="logCtrl.changedFn()">
            <div class="ui tag label">
              Tags
            </div>
          </div>
        </div>
        
        <div id="wrapper">
          <span class="ui left floated date" current-time="format"></span>
          <span class="ui right floated orange save button" ng-click="logCtrl.saveFn()">Save</span>
        </div>
        
        <div class="ui divider"></div>
        <div class="ui vertical"></div>
        
        <div class="ui form">
          <div class="field">
            <textarea id="logContent" ng-model="logs[logSelectedIndex].content" ng-keyup="logCtrl.changedFn()"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ui standard modal" ng-controller="RemovedLogController as remLogCtrl">
    <i class="close icon"></i>
    <div class="header">
      Restore / Delete logs
    </div>
    <div class="content">
      <div class="description">
        <div class="ui header">Deleted logs</div>
          <div ng-repeat="log in remLogs">
            <div class="grouped inline field">
              <div class="ui radio checkbox">
                <input type="radio" name="option">
                <label>Restore</label>
              </div>
              <div class="ui radio checkbox">
                <input type="radio" name="option">
                <label>Delete</label>
              </div>
              {{ log.title }}
            </div>
          </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui black button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button">
        Save changes
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
  
</body>
</html>