<!doctype html>
<html ng-app="devLog">
<head>
  <meta charset="utf-8">
  <title>Dev Log</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/db/db.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js">
  <script src="bower_components/semantic-ui/dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.css">
</head>
<body>
  <div class="ui divided padded grid" ng-controller="LogController as logCtrl">
    <!-- left float -->
    <div class="seven wide left column">
      <div class="ui vertical">
        <h2 class="ui header">
        <i class="inbox icon"></i>
        Log Entry
        <div class="ui right floated green button add">
          Add
        </div>
        </h2>
        <div class="ui divider"></div>
      </div>
      <div class="ui divided padded grid navi">
        <div class="three wide left column" >
        <!-- display all tags -->
          <div class='ui divided very relaxed animated selection list' >
            <a class="item" ng-repeat="tag in tags | orderBy:'+tag'" ng-click="logCtrl.clickTagFn($index, tag.tag)" ng-class="{ active: $index == tagSelectedIndex }">
              <div class="description">
                {{ tag.tag }}
              </div>
            </a>
          </div>
        </div>

        <div class="twelve wide right column">
          <!-- display all logs -->
          <div class="ui divided very relaxed animated selection list">
            <a class="item" ng-repeat="log in logs | filter:{is_removed:false} | orderBy:'-timestamp'" ng-class="{ active: $index == logSelectedIndex }">
              <div class="right floated date">{{ log.timestamp | date:'MMM dd, yyyy' }}</div>
              <div class="description" ng-click="logCtrl.clickLogFn($index, log.key)">
                {{ log.title }}
              </div>
              <i class="right floated trash icon" ng-click="logCtrl.removeLogFn(log.key)"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="nine wide right column">
      <div class="ui vertical">
        <input type="hidden" id="logKey" ng-model="logKey"></input>
        <h2 class="ui header">
          <textarea id="title" ng-model="logTitle"></textarea>
        </h2>
        <div id="tags">
          <input ng-model="logTags"></input>
        </div>
        <span class="ui left floated date" current-time="format"></span>
        <span class="ui right floated orange save button" ng-click="logCtrl.savefn()">Save</span>
        
        <div class="ui divider"></div>
        <div class="ui vertical"></div>
        
        <textarea id="content" ng-model="logContent"></textarea>
      </div>
    </div>
  </div>
</body>
</html>