<!doctype html>
<html ng-app="devLog">
<head>
  <meta charset="utf-8">
  <title>DevLog</title>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/db/db.js"></script>
  <script src="js/menu.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/semantic-ui/dist/semantic.js"></script>
  <script src="js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <div class="container">
        <div class="ui divided padded grid" ng-controller="LogController as logCtrl">
            <!-- left float -->
            <div class="seven wide left column">
                <div class="ui vertical">
                    <h2 class="ui header">
                    <i class="idea icon"></i>Logs
                    <div class="ui right floated basic button add" ng-click="logCtrl.addFn()">
                        Add <i class="plus icon"></i>
                    </div>
                    </h2>
                    <div class="ui divider"></div>
                </div>
                <div class="ui divided padded grid">
                    <div class="four wide left column">
                        <!-- display all tags -->
                        <div class="ui divided very relaxed animated selection list">
                            <a class="item tags-nav" ng-repeat="tag in tags" ng-click="logCtrl.clickTagFn($index, tag.tag)" ng-class="{ active: $index == tagSelectedIndex }">
                                <div class="description">
                                    {{ tag.tag }}
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="eleven wide right column">
                        <!-- display all logs -->
                        <div class="ui divided very relaxed animated selection list">
                            <div class="empty logs message" ng-show="logs.length == 0">
                                You haven't created any logs. Go ahead and create a new log by clicking the add button.
                            </div>
                            <a class="item" ng-repeat="log in logs track by log.key" ng-class="{ active: $index == logSelectedIndex }"ng-click="logCtrl.clickLogFn($index, log)">
                                <div class="right floated date">{{ log.timestamp | date:'MMM dd, yyyy' }}</div>
                                <div class="description">
                                    {{ log.title }}
                                </div>
                                <i class="right floated trash icon" ng-click="logCtrl.removeLogFn(log.key)"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nine wide right column">
                <div class="ui vertical">
                    <input type="hidden" id="logKey" ng-model="logs[logSelectedIndex].key"></input>

                    <div class="ui right labeled fluid input">
                        <input ng-model="logs[logSelectedIndex].title" class="title" placeholder="title..."/>
                        <div class="ui basic left pointing blue label">
                            Title
                        </div>
                    </div>
        
                    <div id="tags">
                        <div class="ui right labeled left icon input">
                            <i class="tags icon"></i>
                            <input type="text" placeholder="Tags" class="tags" ng-model="logs[logSelectedIndex].tags"/>
                            <div class="ui basic left pointing blue label">
                                Tags
                            </div>
                        </div>
                    </div>
        
                    <div id="wrapper">
                        <span class="ui left floated date" current-time="format"></span>
                        <span class="ui right floated orange save button" ng-click="logCtrl.saveFn()" ng-class="{ loading: isSaving }">Save</span>
          
                        <div id="saveStatus">
                            <span ng-show="isSaving">Saving...</span>
                            <span ng-show="isSaved">Saved</span>
                        </div>
        
                        <div class="ui divider"></div>
                        <div class="ui vertical"></div>
        
                        <div class="ui form">
                            <div class="field">
                                <textarea id="logContent" class="content" placeholder="Type something..." ng-model="logs[logSelectedIndex].content" ng-change="logCtrl.changedFn()"></textarea>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="row">
                <div class="ui divider"></div>
                <div class="last-updated">Last updated on: {{ logs[logSelectedIndex].timestamp | date:'MMM dd, yyyy' }}</div>
            </div>
        </div>
  
        <!-- Modal -->
        <div class="ui standard modal" ng-controller="RemovedLogController as remLogCtrl">
            <i class="close icon"></i>
            <div class="header">
                Restore / Delete logs
            </div>
            <div class="content">
                <div class="description">
                    <div class="ui header">Deleted logs</div>
                    <table class="ui celled striped table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th colspan="3">Logs</th>
                                <th>Restore</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="log in remLogs | orderBy:'-timestamp' track by log.key">
                                <td>{{ $index + 1 }}</td>
                                <td colspan="3">{{ log.title }}</td>
                                <td class="positive"><input type="radio" name="option-{{$index}}" value="restore" ng-model="log.option"></td>
                                <td class="negative"><input type="radio" name="option-{{$index}}" value="delete" ng-model="log.option"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button" ng-click="remLogCtrl.proceedFn()">
                    Save changes
                    <i class="checkmark icon"></i>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>